.red {
  color: red;
}
.toDoContainer {
  border: 2px dashed pink;
  margin: auto;
  margin-top: 25px;
  border-radius: 25px;
  padding: 15px;
  width: 800px;
}
.todo {
  margin: 30px auto;
  font-size: 20px;
  display: flex;
  border-bottom: 1px solid black;
  width: 80%;
}
.todoText {
  margin-left: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.done {
  text-decoration: line-through;
}
.trash {
  cursor: pointer;
}
